<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>eShop</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
</head>

<body>

    <div id="root">
        <header>
            <h1 class="title">eShop</h1>

            <div class="search">
                <input class="goods-search" type="text" v-model="search">
                <custom_button v-on:click="filteredGoods">искать</custom_button>

            </div>

            <div class="action">
                <custom_button v-on:click="setVisibleCard">Корзина</custom_button>
            </div>

        </header>

        <main class="main">
            <div class="goods-list">
                <goods_item v-for="item in filteredGoods" v-bind:item="item"></goods_item>
            </div>

            <div>{{search}}</div>
            <div v-if="!filteredGoods.length">нет данных</div>
        </main>
        <div>{{calculatePrice}}</div>


        <basket v-on:close="setVisibleCard" v-if="isVisibleCard"></basket>

        <script src="script.js"></script>

    </div>


</body>



</html>